<% content_for :title, 'New post' %>
<div class="col-9">
  <h1>New post</h1>
  <%= form_with(url: posts_path, local: true, model: @post) do |form| %>
    <%= @post.errors.count %>
    <% if @post.errors.any? %>
    <ul>
      <%= @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>
    <div class="mb-3">
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= form.label :headline, class: 'form-label' %>
      <%= form.text_field :headline, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= form.label :content, class: 'form-label' %>
      <%= form.text_area :content, class: 'form-control', rows: 10 %>
    </div>
    <!-- Add any additional form fields here -->
    <%= form.submit 'Create post', class: 'btn btn-primary' %>
  <% end %>
</div>