<% content_for :title, @post.title %>
<div class="col-9">
  <h1 class="display-1 text-center"><%= @post.title %></h1>
  <p class="lead text-center"><%= @post.headline %></p>
  <p class="text-end">Published by <%= link_to @post.author.name, @post.author %> at <%= @post.published.to_formatted_s(:long) %></p>
  <hr>
  <%= @post.content.html_safe %>
</div>